@page
@model RazorPagesRenterprise.Pages_Rental.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<form>
    <p class="search">
        Customer/Reg: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Go" />
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Reg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].DaysOnRent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].DayRate)
            </th>  
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].RentalPrice)
            </th>                                  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rental) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysOnRent)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.DayRate)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.RentalPrice)
            </td>                                    
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="btn">
    <a asp-page="Create">Add a Reservation</a>
</p>
