@page
@model RazorPagesRenterprise.Pages_Workshop.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Reg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Fault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].CompletionDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Workshop) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
